<!DOCTYPE HTML>
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta charset="UTF-8">
		<link rel="icon" href="http://www.ciens.ucv.ve/portalasig2/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../css/style.css"  type="text/css">
		<link rel="stylesheet" href="page.css" type="text/css">
		<title>[COLOQUE SU NOMBRE]</title>
	</head>
	<body>
	    <header>
			<div class="logo">ATI<span>[UCV]</span> 2019-2</div>
	        <nav>
				<ul>
				<li>Entrar</li>
	            <li><a href="../index.html">Inicio</a></li>
				<li></li>
				</ul>
	        </nav>
	    </header>
	    <section>

	        [COLOQUE EL HTML DE SU PERFIL]
	
	    </section>
	    <aside></aside>
	    <footer>
	        Copyright © 2019 Escuela de computación - ATI. Todos los derechos reservados
	    </footer>
	</body>
</html>