table{
	margin: none;
	padding: none;
	border: none;
	animation-name: fondo;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
img{
	align-self: center;
	width: 25vw;
}

h1{
	color: green;
	font-size: 2em;
	transition: color 1s;
	padding-bottom: 0vh;
	margin-bottom: 0vh;
}

h1:hover{
	color: blue;
}

.lenguajes{
	font-weight: bold;
}

.parrafo{
	width: 50vw;
	font-style: italic;
}

@keyframes fondo{
	0% {
		background: white;
		color:black;
	}
	100%{
		background: black;
		color:white;
	}
}
